@model DiarsT3.Models.Rutina

<h3>Rutina: @Model.Nombre | Tipo: @Model.Tipo</h3>


<div class="row">
    <div class="col-12">
        <table class="table">
            <thead>
                <tr>
                    <th>Ejercicio</th>
                    <th>Link Youtube</th>
                    <th>Duración</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var ejercicio in Model.EjercicioRutinas)
                {
    <tr>
        <td>@ejercicio.Ejercicio.Nombre </td>
        <td>@ejercicio.Ejercicio.LinkYoutube </td>
        <td>@ejercicio.Duracion segundos</td>
    </tr>}
            </tbody>
        </table>
    </div>
</div>